<h1>Make your form here</h1>
<form action="/pirates" method="POST">
<div>
<lable for="pirate_name">Name:</lable>
<input type="text" id= "pirate_name" name="pirate[name]"></input>
</div>
<lable for="pirate_weight">Weight:</lable>
<input type="text" id= "pirate_weight" name="pirate[weight]"></input>
<div>
<lable for="pirate_height">Height:</lable>
<input type="text" id= "pirate_height" name="pirate[height]"></input>
</div>
<lable for="ship1_name">Ships no.1 Name:</lable>
<input type="text" id="ship1_name" name="ships[][name]"></input>
<div>
<lable for="ship1_type">Ships no.1 Type:</lable>
<input type="text" id="ship1_type" name="ships[][type]"></input>
</div>
<lable for="ship1_booty">Ship no .1 booty:</lable>
<input type="text" id="ship1_booty" name="ships[][booty]"></input>
<div>
<lable for="ship2_name">Ships no.2 Name:</lable>
<input type="text" id="ship1_name" name="ships[][name]"></input>
</div>
<lable for="ship2_type">Ships no.2 Type:</lable>
<input type="text" id="ship1_type" name="ships[][type]"></input>
<div>
<lable for="ship2_booty">Ship no .2 booty:</lable>
<input type="text" id="ship1_booty" name="ships[][booty]"></input>
</div>
<input type="submit">
</form>
